absl-py==2.1.0
addict==2.4.0
aenum @ file:///home/conda/feedstock_root/build_artifacts/aenum_1687839428479/work
annotated-types @ file:///croot/annotated-types_1709542908624/work
antlr4-python3-runtime @ file:///home/conda/feedstock_root/build_artifacts/antlr-python-runtime-meta_1638309185939/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
attrs==23.2.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
blinker==1.8.2
Bottleneck @ file:///croot/bottleneck_1707864210935/work
Brotli @ file:///croot/brotli-split_1714483155106/work
cached-property @ file:///tmp/build/80754af9/cached-property_1600785575025/work
cachetools==5.3.3
certifi @ file:///croot/certifi_1734473278428/work/certifi
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.7
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colour==0.1.5
comm @ file:///croot/comm_1709322850197/work
ConfigArgParse==1.7
contourpy @ file:///croot/contourpy_1700583582875/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
dash==2.17.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
# Editable install with no version control (deepsdf==0.0.1)
-e /mnt/c/Users/tib/Desktop/research/SimpleDeepSDF/DeepSDF-main
easydict @ file:///home/conda/feedstock_root/build_artifacts/easydict_1731199109457/work
einops==0.8.0
exceptiongroup @ file:///croot/exceptiongroup_1706031385326/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
faiss-gpu==1.7.2
fastjsonschema==2.20.0
filelock==3.15.4
Flask==3.0.3
fonttools @ file:///croot/fonttools_1713551344105/work
fsspec @ file:///croot/fsspec_1724855583730/work
fvcore @ file:///home/conda/feedstock_root/build_artifacts/fvcore_1671623667463/work
google-auth==2.29.0
google-auth-oauthlib==1.0.0
grpcio==1.63.0
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1687263083757/work
huggingface-hub==0.24.5
hydra-core @ file:///home/conda/feedstock_root/build_artifacts/hydra-core_1677543700389/work
idna @ file:///croot/idna_1714398848350/work
imageio==2.34.1
importlib-resources @ file:///croot/importlib_resources-suite_1704281845041/work
importlib_metadata==7.1.0
iopath==0.1.9
ipydatawidgets @ file:///home/conda/feedstock_root/build_artifacts/ipydatawidgets_1661357790230/work
ipython @ file:///croot/ipython_1694181358621/work
ipywidgets @ file:///croot/ipywidgets_1709574692113/work
itsdangerous==2.2.0
jedi @ file:///tmp/build/80754af9/jedi_1644297102865/work
Jinja2==3.1.4
joblib @ file:///croot/joblib_1713976767370/work
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_core==5.7.2
jupyterlab-widgets @ file:///croot/jupyterlab_widgets_1709322880313/work
kiwisolver @ file:///croot/kiwisolver_1672387140495/work
lazy_loader==0.4
lightly @ file:///home/conda/feedstock_root/build_artifacts/lightly_1732930943835/work
lightly-utils @ file:///home/conda/feedstock_root/build_artifacts/lightly-utils_1696348665138/work
lightning-utilities @ file:///croot/lightning-utilities_1694002419919/work
Markdown==3.6
MarkupSafe==2.1.5
matplotlib @ file:///croot/matplotlib-suite_1713336378214/work
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
meshplot @ file:///home/conda/feedstock_root/build_artifacts/meshplot_1613036112957/work
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
numexpr @ file:///croot/numexpr_1696515281613/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp39-cp39-linux_x86_64.whl#sha256=6094eeedd869502faa0fd0a8c5ad3a70c5779be06ddd1feb7627e5c212fac420
oauthlib==3.2.2
omegaconf @ file:///home/conda/feedstock_root/build_artifacts/omegaconf_1670575376789/work
open3d==0.18.0
opencv-python==4.7.0
packaging @ file:///croot/packaging_1710807400464/work
pandas @ file:///croot/pandas_1709590491089/work/dist/pandas-2.2.1-cp39-cp39-linux_x86_64.whl#sha256=c2fe2574e63acef055e68e1e22d04943804291b7fe3a39b832edfd1b87570954
parse==1.20.2
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow @ file:///croot/pillow_1714398848491/work
platformdirs==4.2.2
plotly==5.22.0
plyfile==1.0.3
point-cloud-utils==0.29.6
pointnet2==0.0.0
pointops==0.0.0
portalocker @ file:///home/conda/feedstock_root/build_artifacts/portalocker_1695662052038/work
prompt-toolkit @ file:///croot/prompt-toolkit_1704404351921/work
protobuf==5.26.1
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybullet @ file:///home/conda/feedstock_root/build_artifacts/bullet_1683005864739/work
pydantic @ file:///croot/pydantic_1725040526370/work
pydantic_core @ file:///croot/pydantic-core_1724790363792/work
Pygments @ file:///croot/pygments_1684279966437/work
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
PyQt5==5.15.11
PyQt5-Qt5==5.15.14
PyQt5_sip==12.15.0
pyqtgraph==0.13.7
pyquaternion==0.9.9
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
python-dateutil @ file:///croot/python-dateutil_1715108784345/work
pythreejs @ file:///home/conda/feedstock_root/build_artifacts/pythreejs_1678993863344/work
pytorch-lightning @ file:///croot/pytorch-lightning_1687508679012/work
pytorch3d==0.7.5
pytz @ file:///croot/pytz_1713974312559/work
PyWavelets==1.6.0
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1695373447169/work
referencing==0.35.1
requests @ file:///croot/requests_1707355572290/work
requests-oauthlib==2.0.0
retrying==1.3.4
rpds-py==0.18.1
rsa==4.9
safetensors==0.4.4
scikit-image==0.21.0
scikit-learn @ file:///croot/scikit-learn_1714164736727/work
scipy==1.13.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
svgwrite @ file:///home/conda/feedstock_root/build_artifacts/svgwrite_1657874093829/work
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1665138452165/work
tenacity==8.4.2
tensorboard==2.13.0
tensorboard-data-server==0.7.1
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1704357939450/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tifffile==2024.5.10
timm==1.0.8
torch==1.13.0
torch-kmeans==0.2.0
torchmetrics @ file:///croot/torchmetrics_1719910137958/work
torchvision==0.14.0
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1714854870413/work
traitlets @ file:///croot/traitlets_1671143879854/work
traittypes @ file:///croot/traittypes_1701096758330/work
trimesh @ file:///home/conda/feedstock_root/build_artifacts/trimesh_1714484995200/work
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
unicodedata2 @ file:///croot/unicodedata2_1713212950228/work
urllib3 @ file:///croot/urllib3_1707770551213/work
vgtk==0.0.1
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
Werkzeug==3.0.3
widgetsnbextension @ file:///croot/widgetsnbextension_1709322880396/work
yacs @ file:///home/conda/feedstock_root/build_artifacts/yacs_1645705974477/work
zipp @ file:///croot/zipp_1704206909481/work
